<div class="container-fluid">
    <h2 class="mt-4">LIBELE TIRAGE</h2>
    <hr>
  <div class="row text-center" >
    <div class="col"><span class="titre">Date :</span> {{tirageDetail.datet | date}} </div>
    <div class="col"><span class="barreLateral">|</span> <span class="titre">Nombre de Postulant Tiré : </span>{{tirageDetail.nbredemande}} </div>
    <div class="col"><span class="barreLateral">|</span> <span class="titre">Libelle de la Liste : </span>{{libelleListe}} </div>
  </div>
</div>
<div class="text-center">
  <div class="mat-elevation-z8 mt-2 posit">
    <table mat-table [dataSource]="dataSource" id="season-tble">

      <!-- Position Column -->
      <ng-container matColumnDef="nompt">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Nom </th>
        <td mat-cell *matCellDef="let element"> <a class="lien" >{{element.nompt}}</a> </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="prenompt">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Prénom </th>
        <td mat-cell class="lien" *matCellDef="let element"> {{element.prenompt}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="numeropt">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Numéro </th>
        <td mat-cell class="lien" *matCellDef="let element"> {{element.numeropt}}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="emailpt">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Email </th>
        <td mat-cell class="lien" *matCellDef="let element"> {{element.emailpt}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>

  <div class="m-3 retour" (click)="goBack()" ><img class="cursor" width="100" src="../../assets/Group%204.svg" alt="" srcset=""></div>



