<footer class="footer text-left  " style="background-color: #f1f1f1;">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-2">
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class=" div p-3" style="background-color: #001427;">
      © 2021-2022 Copyright:
      <a class="SloganStyle " href="https://mdbootstrap.com/">Tous droits reservés Entreprise <span>Free Tirage</span></a>
    </div>
    <!-- Copyright -->
  </footer>
