@font-face {
    font-family: myfon;
    src: url("../../assets/JimmyScript-Rg.otf");
}
.div{
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
span{
    font-family: myfon;
}
.SloganStyle{
    font-size: 18px;
    font-weight: lighter;
    text-decoration: none;
}
.footer{

  position: fixed; bottom: 0; left: 0; right: 0;
}
a{
  color: #FFFFFF !important;
}
@media screen and (max-height: 200px) {
  .footer{
    position: initial; bottom: 0; left: 0; right: 0;
  }
}

