

<div class="container-fluid">

    <h2 class="mt-4">Nouveau Tirage</h2>
    <hr>
</div>
<form  class=" form1 container p-3 mt-5 mb-5  rounded">
    <div class="container">
        <div class="row m-3 ml-2 mr-2">
            <div class="col-4"><label for="libelleTirage"> Libelle Tirage </label></div>
            <div class="col-8"><input type="text" name="libelletirage" [(ngModel)]="libelletirage" class="form-control"
                    id="libelleTirage">
            </div>
        </div>
        <div class="row m-3 ml-2 mr-2">
            <div class="col-4"><label for="nombreTirage"> Nombre Demande </label></div>
            <div class="col-8"><input type="number" name="nbredemande" [(ngModel)]="nbredemande" class="form-control"
                    id="nombreTirage">

            </div>
        </div>
        <div class="row m-3">
            <div class="col-4"><label for="libelleListe">Libelle Liste</label></div>
            <div class="col-5">
                <select id="libelleListe" class="form-select mb-3" [(ngModel)]="libelleliste" name="libelleliste">
                  <option>-- Selectionner un Fichier --</option>
                    <option *ngFor="let detaillist of detailListe"> {{detaillist.libellel}} </option>
                </select>
            </div>
            <div class="col-3"> <button type="button" class="btn text-size btn-outline-success" data-bs-toggle="modal"
                    data-bs-target="#AddEtudiant">importer fichier <i class="bi bi-upload"></i></button> </div>
        </div>

    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn text-size btn-lg btn-outline-success" (click)="CreerTirage()"> Effectuer Tirage </button>
    </div>
</form>

<div class="modal fade" id="AddEtudiant">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <div class="card border-0 shadow p-3">
                    <form>
                        <div class="row mb-3">
                            <div class="col-4"> <label for="Listelibelle" class="form-label">LIBELLE LISTE</label>
                            </div>
                            <div class="col-8">
                                <input required type="text" id="Listelibelle" class="form-control" name="libelleList"  [(ngModel)]="libelleliste">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-8">
                                <input type="file" (change)="envoiFichier($event)" class="text-nowrap text-truncate file">
                            </div>

                        </div>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button type="submit" (click)="envoyerFichierParLeService()"  class="btn btn-outline-success" data-bs-dismiss="modal"><i
                                    class="bi bi-upload"></i>
                                Télécharger</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

