<nav class="navbar navbar-expand-lg sticky-top">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <div class="logoFont">
      <a class="navbar-brand Logo" href="#">Free Tirage</a>
    </div>


    <!-- Toggle button -->
    <button (click)="changeIcon()" class="navbar-toggler toogle" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
      <span class="icon" *ngIf="IconChange"><i class="bi bi-list"></i></span>
      <span class="icon" *ngIf="!IconChange"><i class="bi bi-x-lg"></i></span>
    </button>


    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">


      <div class=" navbar-nav ms-auto d-flex align-items-center">
        <button  type="button" class="btn btn-outline-success accueil nav-item nav-item1" routerLink="/" routerLinkActive="activate" [routerLinkActiveOptions]={exact:true}>
          <a class="nav-link nav-link1"  >Accueil</a>
        </button>
        <button type="button" class="btn btn-outline-success tirage nav-item nav-item2" routerLink="/tirage" routerLinkActive="activate">
          <a class="nav-link nav-link2" >Nouveau Tirage</a>
        </button>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
