/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
html { height: 100%; }
body { margin: 0px 15px 0px 15px; }
h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 5px !important;
    text-shadow: 2px 2px 2px darkgray;
    color: #0c28a5 !important;

}
th {

  font-family: Roboto !important;
  font-size: 15px !important;
  letter-spacing: 2px;
  font-weight: bolder !important;
}
.lien{
  text-decoration: none;
  color: black;
  font-weight: lighter;
  letter-spacing: 1px;
  font-family: sans-serif;
  cursor: pointer;
}
.cursor{

}
hr {
    border: 5px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
}


@media screen and (max-width: 991px) {
  th {

    font-family: Roboto !important;
    font-size: 10px !important;
    letter-spacing: 2px;
    font-weight: bolder !important;
  }
  .lien{
    text-decoration: none;
    color: black;
    font-weight: lighter;
    font-size: 10px !important;
    letter-spacing: 1px;
    font-family: sans-serif;
  }
  /* .form1 {
      margin-bottom: 150px !important;
  } */

}
