/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
html { height: 100%; }
body { margin: 0px 15px 0px 15px; }
h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px !important;
    letter-spacing: 5px !important;
    text-shadow: 2px 2px 2px darkgray;
    color: #101a47 !important;

}
th {

  font-family: Roboto !important;
  font-size: 15px !important;
  letter-spacing: 2px;
  font-weight: bolder !important;
}
.lien{
  text-decoration: none;
  color: black;
  font-weight: lighter;
  letter-spacing: 1px;
  font-family: sans-serif;
  cursor: pointer;
}
td{
  font-weight: lighter !important;
}
.cursor{

  cursor: pointer;

}
hr {
    border: 5px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
}


@media screen and (max-width: 991px) {
  th {

    font-family: Roboto !important;
    font-size: 10px !important;
    letter-spacing: 2px;
    font-weight: bolder !important;
  }
  td{
    font-size: 10px !important;
  }
  .lien{
    text-decoration: none;
    color: black;
    font-weight: lighter;
    font-size: 10px !important;
    letter-spacing: 1px;
    font-family: sans-serif;
  }
  h2{
    font-size: 100%;
  }
}
.barreLateral{
  color: #ffdb65;
  margin-right: 20px;
  font-size: 25px;
  font-weight: bolder;
  text-shadow: 2px 0px 2px #001427;
}
.titre{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px !important;
  letter-spacing: 2px !important;
  text-shadow: 1px 1px 1px darkgray;
  color: #101a47 !important;
}

/*
  Marge Appliquer a notre tableau
*/

