@font-face {
  font-family: Roboto;
  src: url("../../assets/Roboto-Medium.ttf");
}

table {
  width: 100%;
  margin: 2px;

}

td {

  font-family: Roboto !important;
  font-size: 13px;
  letter-spacing: 2px;
}


.my-card {
  position: absolute;
  left: 40%;
  top: -20px;
  border-radius: 50%;
}

.button {
  background-color: #FFFFFF;
  font-size: 16px;
  border: 0px;
  box-shadow: 2px 2px 2px darkgray;
}

.button:active {
  background-color: #FFFFFF;
  font-size: 16px;
  border: 0px;
  box-shadow: 2px 2px 2px darkgray inset;
}
