@font-face {
    font-family: Roboto;
    src: url("../../assets/Roboto-Medium.ttf");
}
table {
    width: 100%;
    margin: 2px;

  }
td{
    
    font-family: Roboto;
    font-size: 20px;
}


.rectangle{
    height: 75px;
    width: 250px;
    border-color: red;
    border-width: 2px;
    border-style: solid;
    background-image: linear-gradient(to right top, #87d16b, #00c794, #00b7ba, #00a2cf, #0089cb, #017cba, #016fa9, #006398, #005f80, #1b5867, #305053, #3d4645);
    box-shadow: 2px 3px 2px #87d16b;
}
  